<mat-toolbar color="primary" >
  <span>My App</span>
  <span class="example-spacer"></span>

  <button
    routerLink="/"
    mat-icon-button
    color="basic"
    matTooltip="Home"
    matTooltipClass="example-tooltip-uppercase"
    aria-label="Button that shows a red tooltip"
  >
    <mat-icon>home</mat-icon>
  </button>
  <button
    routerLink="/list_propduct"
    mat-icon-button
    color="basic"
    matTooltip="Liste des produit"
    matTooltipClass="example-tooltip-uppercase"
    aria-label="Button that shows a red tooltip"
  >
    <mat-icon>list_alt</mat-icon>
  </button>
</mat-toolbar>
