.example-spacer {
  flex: 1 1 auto;

}
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}


.container{
  max-width: 70%;
  margin: 0 auto;
}

.backgrounded{

  height: 100vh;
  background: linear-gradient( #9198e5,#e66465);


}
